.index {
    background-image: url(../Img/worlds.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    
}
.planes {
    background-image: url(../Img/worlds.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
}
.contacto {
    background-image: url(../Img/worlds.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
}
.clase-gratis {
    background-image: url(../Img/worlds.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    
}

.titulo-contacto{
    background-color: lightblue;
    width: auto;
    margin-left: 800px;
    margin-right: 800px;
}

.datos-usuario{
    font-size: 25px;
    background-color: antiquewhite;
    width: 40%;
    border: 5px black solid;
}
 .checkbox {
     border: solid 5px black;
     background-color: antiquewhite;
 }   

.planes p {
    font-size: 20px;
    border: solid 3px black;
}
header { 
    margin: auto;
    text-align: center;
    width: 30%;
    height: 300px;
    background-image: url(../Img/challenger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 5px solid antiquewhite;
    font-size: 20px;
    padding: 5em;
    color: rgb(230, 215, 134);
}
header img {
    width: 500px; ;
    height: 500px; ;

}
header h1 {
    margin-top: 200px;
}
header h2 {
    margin: 0px;
}
.indice { 
    text-align: center;
    font-size: 15px;
    
}
div h2 {
    width: 200px;
    background-color: lightblue;
    margin: auto;
    color: black;
    
}
 div ul{
     background-color: antiquewhite;
     color: black;
     font-size: 15px;
     margin:auto;
 }   
ul li {
    padding-top: 10px;
    margin: 0px 60px;
    display: block;
    list-style: none;
    display: inline;
}
ul li a {
    list-style: none;
 text-decoration: none;
}


.quienes-somos{
    background-color: lightblue;
    margin-left: 800px;
    margin-right: 800px;
}
.video-presentacion{
    background-color: lightblue;
    margin-left: 800px;
    margin-right: 800px;
}
.nuestros-planes{
    background-color: lightblue;
    margin-left: 750px;
    margin-right: 750px

}
div iframe {
    border: 5px solid antiquewhite
    
}

.footer {
    width: 100%;
    height: 20%;
    background-color: lightblue;
    text-align: center;
    display: inline;
    font-size: 30px;
    border: solid 3px black;
}
.planes .footer{
    text-align: center;
}
    
    
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}
 .planes .flex-item{
    background: black;
    border: 5px solid #000;
    width: 400px;
    height: auto;
    color: white;
    align-items: flex-end;
    align-content: flex-end;
 }   
    
    
.titulo-plan {
    text-align: left;
}

.equipo-trabajo {
    background-image: url(../Img/worlds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
}
.flex-container-equipo img{
    width: 50%;
    height: 80%;
    display: flex;
    border: solid black 5px;
}
.flex-container-equipo{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

}
.equipo-trabajo p {
    width: 40%;
    height: auto;
    margin-left: 0px;
    background-color: antiquewhite;
    border: solid black 3px;
    }
    .titulo-conoce {
        text-align: center;
        background-color: lightblue;
        margin-left: 750px;
        margin-right: 750px;
    }
    .dos-videos {
        background-color: antiquewhite;
        font-size: 20px;

    }
.latam-es {
    background-color: antiquewhite;
        font-size: 20px;
}