* {
  font-family: "Fraunces", serif;
  color: #c28f2c;
}

.index {
  background-color: black;
}

.index main img {
  width: 100%;
}

.index header {
  margin: auto;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background: black;
}

.index .header__img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.index .header__leyenda--container {
  padding: 30px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2rem;
  margin: 0px 15px;
  color: #c28f2c;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #a2491e;
  font-size: 1.2rem;
  margin: 0px 15px;
}

.bg-dark {
  position: sticky;
  top: 0;
  z-index: 100;
}

.main__img {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.index .quienes-somos {
  text-align: center;
  width: 100%;
  background: #212529;
  padding: 10px;
}

.index .grid-container {
  display: grid;
  grid-template-columns: 550px auto;
  grid-template-rows: 100px 500px;
  padding: 15px;
}

.index .grid-container .video-presentacion {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.index .grid-container .video {
  grid-column: 1;
  grid-row: 2;
  justify-content: left;
}

.index .grid-container .video iframe {
  width: 100%;
  height: 100%;
  border: solid 5px #212529;
  align-content: center;
}

.index .grid-container .latam-es {
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 25px;
  margin-left: 20px;
}

.index .footer {
  width: 100%;
  padding: 4px;
  font-size: 1.8rem;
  font-weight: bold;
  background: #212529;
  text-align: center;
}

.index .footer ul li {
  padding-top: 10px;
  list-style: none;
  display: inline;
  font-weight: 900;
  margin: 10%;
}

.planes {
  background-color: black;
}

.planes main img {
  width: 100%;
}

.planes header {
  margin: auto;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background: black;
}

.planes .header__img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.planes .header__leyenda--container {
  padding: 30px;
}

.planes h2 {
  text-align: center;
  width: 100%;
  background: #212529;
  margin-bottom: 10px;
}

.planes .flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-row-gap: 30px;
}

.planes .flex-container .flex-item img {
  width: 100%;
}

.planes .flex-item {
  background: black;
  border: 5px solid #212529;
  width: 70%;
  color: white;
  align-items: flex-end;
  align-content: flex-end;
}

.planes .footer {
  width: 100%;
  padding: 4px;
  font-size: 1.8rem;
  font-weight: bold;
  background: #212529;
  text-align: center;
}

.planes .footer ul li {
  padding-top: 10px;
  list-style: none;
  display: inline;
  font-weight: 900;
  margin: 10%;
}

#pie-pagina {
  margin: 0;
}

.equipo-trabajo {
  background-color: black;
}

.equipo-trabajo main img {
  width: 100%;
}

.equipo-trabajo header {
  margin: auto;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background: black;
}

.equipo-trabajo .header__img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.equipo-trabajo .header__leyenda--container {
  padding: 30px;
}

.equipo-trabajo h2 {
  text-align: center;
  width: 100%;
  background: #212529;
  margin-bottom: 10px;
}

.equipo-trabajo .principal {
  display: grid;
  grid-template-columns: 610px auto 610px;
  grid-template-rows: 410px 410px 410px;
  padding: 25px;
}

.equipo-trabajo .principal img {
  height: 400px;
  width: 600px;
  border: solid #212529 5px;
}

.equipo-trabajo .principal p {
  font-size: 1.6rem;
}

.equipo-trabajo .principal .img1 {
  grid-column: 1;
  grid-row: 1;
}

.equipo-trabajo .principal .img2 {
  grid-column: 3;
  grid-row: 2;
}

.equipo-trabajo .principal .img3 {
  grid-column: 1;
  grid-row: 3;
}

.equipo-trabajo .principal .p1 {
  grid-column: span 2;
  grid-row: 1;
  display: flex;
  align-items: center;
}

.equipo-trabajo .principal .p2 {
  grid-column: span 2;
  grid-row: 2;
  display: flex;
  align-items: center;
}

.equipo-trabajo .principal .p3 {
  grid-column: span 2;
  grid-row: 3;
  display: flex;
  align-items: center;
}

.equipo-trabajo .footer {
  width: 100%;
  padding: 4px;
  font-size: 1.8rem;
  font-weight: bold;
  background: #212529;
  text-align: center;
}

.equipo-trabajo .footer ul li {
  padding-top: 10px;
  list-style: none;
  display: inline;
  font-weight: 900;
  margin: 10%;
}

.contacto {
  background-color: black;
}

.contacto main img {
  width: 100%;
}

.contacto h2 {
  text-align: center;
  background-color: #212529;
}

.contacto p {
  font-size: 1.3rem;
  text-align: center;
}

.contacto .form .consulta {
  font-size: 1.2rem;
}

.contacto .form .legend legend {
  background-color: #212529;
  text-align: center;
}

.contacto .form .checkbox {
  text-align: center;
}

.contacto header {
  margin: auto;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background: black;
}

.contacto .header__img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.contacto .header__leyenda--container {
  padding: 30px;
}

.contacto img {
  width: 100%;
}

.contacto .footer {
  width: 100%;
  padding: 4px;
  font-size: 1.8rem;
  font-weight: bold;
  background: #212529;
  text-align: center;
}

.contacto .footer ul li {
  padding-top: 10px;
  list-style: none;
  display: inline;
  font-weight: 900;
  margin: 10%;
}

.clase-gratis {
  background-color: black;
}

.clase-gratis main img {
  width: 100%;
}

.clase-gratis h2 {
  text-align: center;
}

.clase-gratis p {
  font-size: 1.2rem;
  text-align: center;
}

.clase-gratis .videos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.clase-gratis .videos .video1 {
  display: flex;
  justify-content: center;
  grid-column: 1;
}

.clase-gratis .videos .video2 {
  display: flex;
  justify-content: center;
  grid-column: 2;
}

.clase-gratis header {
  margin: auto;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background: black;
}

.clase-gratis .header__img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.clase-gratis .header__leyenda--container {
  padding: 30px;
}

.clase-gratis .footer {
  width: 100%;
  padding: 4px;
  font-size: 1.8rem;
  font-weight: bold;
  background: #212529;
  text-align: center;
}

.clase-gratis .footer ul li {
  padding-top: 10px;
  list-style: none;
  display: inline;
  font-weight: 900;
  margin: 10%;
}

@media all and (max-width: 768px) {
  .index .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 500px 400px;
  }
  .index .grid-container .latam-es {
    grid-column: 1;
    grid-row: 3;
    margin-top: 20px;
  }
  .index .footer ul li {
    margin: 5%;
  }
  .planes .footer ul li {
    margin: 5%;
  }
  .planes .flex-item {
    height: 80%;
  }
  .equipo-trabajo .principal {
    grid-template-columns: 1fr;
    grid-template-rows: 410px 210px 410px 210px 410px 210px;
  }
  .equipo-trabajo .principal .img2 {
    grid-column: 1;
    grid-row: 3;
  }
  .equipo-trabajo .principal .img3 {
    grid-column: 1;
    grid-row: 5;
  }
  .equipo-trabajo .principal .p1 {
    grid-column: 1;
    grid-row: 2;
  }
  .equipo-trabajo .principal .p2 {
    grid-column: 1;
    grid-row: 4;
  }
  .equipo-trabajo .principal .p3 {
    grid-column: 1;
    grid-row: 6;
  }
}

@media all and (max-width: 576px) {
  .index .grid-container .latam-es {
    font-size: 20px;
  }
  .planes h2 {
    font-size: 15px;
  }
  .planes .desc {
    font-size: 15px;
  }
  .planes .flex-container {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }
  .planes .flex-container .flex-item {
    height: 420px;
  }
  .equipo-trabajo .principal img {
    width: 95%;
  }
  .planes .flex-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 45px;
  }
  .planes .flex-container .flex-item {
    height: 500px;
  }
}
