* {font-family: "Fraunces", serif;color: #c28f2c;}
$boxBorder: 5px solid black;
@mixin header {
    margin: auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background: black; 
}
@mixin header__img {
    width: 200px;
    height: 200px;
    margin: 5px;
}
@mixin footer {
    width: 100%;
    padding: 4px;
    font-size: 1.8rem;
    font-weight: bold;
    background: #212529;
    text-align: center;
}
@mixin footerlist {
    padding-top: 10px;
    list-style: none;
    display: inline;
    font-weight: 900;
    margin: 10%;
}
.index {
    background-color:black;
    main {
        img{
            width: 100%;
        }
    }
}
.index header {
@include header;
  }
  
.index .header__img {
   @include header__img;
  }
.index  .header__leyenda--container {
    padding: 30px;
  }
  .navbar-expand-lg .navbar-collapse{
      justify-content: center;
  }
  .navbar-dark .navbar-nav .nav-link {
      font-size: 1.2rem;
      margin: 0px 15px;
     color:#c28f2c ;  }
  .navbar-dark .navbar-nav .nav-link.active {
    color:#a2491e ;
    font-size: 1.2rem;
    margin: 0px 15px;
    }
    .bg-dark {
        position: sticky;
        top: 0;
        z-index: 100;
            }
  .main__img {
    text-align: center;
    width: 100%;
    height: 100vh;
}
.index .quienes-somos {
    text-align: center;
    width: 100%;
    background: #212529;
    padding: 10px;
}
.index .grid-container {
    display: grid;
    grid-template-columns: 550px auto;
    padding: 15px;
}

.index .grid-container .video-presentacion {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    }
.index .grid-container .video{
    grid-column: 1;
    grid-row: 2;
    justify-content: left;
}
    
.index .grid-container .video iframe {
    width: 100%;
    height: 100%;
    border: solid 5px #212529;
    align-content: center;
}
    
.index .grid-container .latam-es {
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 25px;
    margin-left: 20px;
}
.index .footer {
 @include footer;
}
    
.index .footer ul li {
 @include footerlist;
}
 
.planes {
    background-color:black;
    main{
        img{
            width: 100%;
        }
    }
}
.planes header {
    @include header;
  }
  
  .planes .header__img {
    @include header__img;
  }
  .planes  .header__leyenda--container {
    padding: 30px;
  }
    .planes h2 {
      text-align: center;
      width: 100%;
      background: #212529;
      margin-bottom: 10px;
    }
 
 .planes .flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 30px;
}
.planes .flex-container .flex-item img{
    width: 100%;
}
 .planes .flex-item{
    background: black;
    border: 5px solid #212529;
    width: 70%;
    color:white;
    align-items: flex-end;
    align-content: flex-end;
}   
    

 .planes .footer {
    @include footer;
}
    
  
.planes .footer ul li {
    @include footerlist;
}
#pie-pagina {
    margin: 0;
}

.equipo-trabajo {
    background-color:black;
    main{
        img{
            width: 100%;
        }
    }
}
.equipo-trabajo header {
    @include header;
  }
  
.equipo-trabajo .header__img {
    @include header__img;
  }
.equipo-trabajo .header__leyenda--container {
    padding: 30px;
  }
.equipo-trabajo h2 {
    text-align: center;
    width: 100%;
    background: #212529;
    margin-bottom: 10px;
}
.equipo-trabajo .principal{
    display: grid;
    grid-template-columns: 610px auto 610px;
    grid-template-rows: 410px 410px 410px;
    padding: 25px;
    img {
        height: 400px;
        width: 600px;
        border: solid #212529 5px;
    }
    p {
        font-size: 1.6rem;
      }
    .img1 {
        grid-column: 1;
        grid-row: 1;
    }
    .img2 {
        grid-column: 3;
        grid-row: 2;
    }
    .img3 {
        grid-column: 1;
        grid-row: 3;
    }
    .p1 {
        grid-column: span 2;
        grid-row: 1;
        display: flex;
        align-items: center;
      }
    .p2 {
        grid-column: span 2;
        grid-row: 2;
        display: flex;
        align-items: center;
    }
    .p3{
        grid-column: span 2;
        grid-row: 3;
        display: flex;
        align-items: center;
    }
}


.equipo-trabajo .footer {
    @include footer;
}
   
 
.equipo-trabajo .footer ul li {
    @include footerlist;
}
.contacto {
    background-color:black;
    main{
        img{
            width: 100%;
        }
    }
    h2 {
        text-align: center;
        background-color:#212529;
    }
    p {
        font-size: 1.3rem;
        text-align: center;
    }
    .form {
        padding-left: 75px;
        padding-right: 75px;
        h4 {
            text-align: center;
        }
             .consulta {
                font-size: 1.2rem;
            }
            .legend {
                legend{
                    text-align: center;
                    background-color: #212529;
                }
            }

       .checkbox{
        text-align: center;
    }
  }
}
.contacto header {
    @include header;
  }
  
.contacto .header__img {
    @include header__img;
  }
.contacto .header__leyenda--container {
    padding: 30px;
  }
.contacto img {
    width: 100%;
}  

.contacto .footer {
    @include footer;
}
   .contacto .footer ul li {
    @include footerlist;
}
.clase-gratis{
   background-color:black;
   main{
       img {
           width: 100%;
        }
    }
   h2 {
       text-align: center;
   }
   p{
       font-size: 1.2rem;
       text-align: center;
   }
   .videos{
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto;
       .video1{
           display: flex;
           justify-content: center;
           grid-column: 1;
       }
       .video2 {
           display: flex;
           justify-content: center;
           grid-column: 2;
       }
   }
}
.clase-gratis header {
    @include header;
  }
  
.clase-gratis .header__img {
    @include header__img;
  }
.clase-gratis .header__leyenda--container {
    padding: 30px;
  }

.clase-gratis .footer {
    @include footer;
}
 .clase-gratis .footer ul li {
    @include footerlist;
}
@media all and (max-width: 768px) {
    .index .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 500px 400px;
    }
    .index .grid-container .latam-es {
        grid-column: 1;
        grid-row: 3;
        margin-top: 20px;
    }
     .index .footer ul li {
        margin: 5%
    }
    .planes .footer ul li{
        margin: 5%;
    }
    .planes .flex-item {
        height: 80%;
    }
    .equipo-trabajo .principal{
        grid-template-columns: 1fr;
        grid-template-rows: 410px 210px 410px 210px 410px 210px;
        .img2 {
            grid-column: 1;
            grid-row: 3;
        }
        .img3 {
            grid-column: 1;
            grid-row: 5;
        }
        .p1 {
            grid-column: 1;
            grid-row: 2;
        }
        .p2 {
            grid-column: 1;
            grid-row: 4;
        }
        .p3 {
            grid-column: 1;
            grid-row: 6;
        }
    }

}
@media all and (max-width: 576px){
    .index .grid-container .latam-es {
        font-size: 20px;
    }
    .planes h2 {
        font-size: 15px;
    }
    .planes .desc {
        font-size: 15px;
    }
    .planes .flex-container{
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }
     .planes .flex-container .flex-item {
         height: 420px;
     }   
     .equipo-trabajo .principal{
       img {
           width: 95%;
       }
    }
    .planes .flex-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 45px;
        .flex-item {
            height: 500px;
        }
    }
}